<!DOCTYPE html>
<html>
<head>
  <title>Dex2</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<script type="text/javascript" src="javascripts/knockout-3.1.0.js"></script>
	<script type="text/javascript" src="javascripts/dex2-utils.js"></script>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
